/* CSS Document */
.header{padding: 30px 0;
margin-bottom: 50px;
}
.logo a{font-size: 34px;
color: black;
text-decoration: none;
	letter-spacing: 0.1px
}
.nav ul{list-style: none;}
.nav li{margin: 0 15px;}
.nav li a{text-decoration: none;
color: black;
	letter-spacing: 0.1px
}
.a1{font-family: 'Press Start 2P', cursive;
	text-shadow: -1px 1px 2px darkviolet;
	padding-left: 57px;
	font-weight: 600;
}
.row{justify-content: flex-end;
 padding-right: 57px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px
}
.container{margin-top: 55px;
}
.content a{font-size: 34px;
color:mediumpurple;
text-decoration: none;
	letter-spacing: 0.1px;
}
.a2{font-family: 'Press Start 2P', cursive;
	text-shadow: -1px 1px 2px yellow ;
	padding-left: 57px;
	font-weight: 600;
}
.col-3:hover   .content{width: 100%}
/*header*/
.banner{background: url("ba6f108b1d81dedf8790.jpg");
	padding: 200px 0;
	text-align: center;
	background-size: cover;
	background-position: 0-195px;
	margin-left: 137px;
	margin-right: 137px;
}
.thumnail{color:yellow;
background:#F28400;
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	padding: 12px 14px;
	letter-spacing: 0.5px;
	font-size: 10px
}
.content-banner p{margin-bottom: 40px;}
.h01{font-family: 'Roboto', sans-serif;
color: white;
letter-spacing: 0.5px;
font-size: 45px;
}
.p1{font-family: 'Roboto', sans-serif;
color: white;
letter-spacing: 0.5px;
font-size: 15px}
/*section1*/
.product3d{padding: 40px 0;
margin-bottom: 50px;
	margin-left: 137px;
	margin-right: 137px;
	margin-top: 120px;
/*background: red;*/
height: 850px;
}	
.h02{font-family: 'Press Start 2P', cursive;
font-size: 25px;
	color: black;
letter-spacing: 0.1px;
text-align: center;
margin-top: -90px;
padding-bottom: 20px}
.box{width: 50%;
	height: 38%;
background: black;
}
.box img{width: 100%;
margin-right: 1133px;
margin-bottom: 12px}
.box a{padding-left: 185px;
	font-family: 'Roboto', sans-serif;
color: black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none
}
.container1{margin-top: 55px;
}
.chen{width: 0;
height: 319px;
background: white;
	opacity: 25%;
position: absolute;
overflow: hidden;
	margin-top: -350px;
}
.box:hover   .chen{width: 38.35%}
/*box1*/
.box2{width: 49.49%;
	height: 39%;
}
.box2 img{width: 100%;
	height: 100%;
	background-size: cover;
margin-bottom: 13px}
.box2 img{margin-left: 57.1px;
}
.box2 {margin-top: -361px}
.chen2{width:0;
	height: 319px;
	background: white;
	opacity: 25%;
	margin-top: -334.4px;
	margin-left: 57.7px;
}
.box2 a{padding-left: 259.5px;
	font-family: 'Roboto', sans-serif;
color: black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px
}
.box2:hover  .chen2{width: 100%}
/*box2*/
.box3{width: 38.35%;
	height: 38%;
background: black;
	position: absolute;
	margin-top: 25px
}
.box3 img{width: 100%;
	margin-bottom: -15px
}
.box3 a{padding-left: 186px;
	font-family: 'Roboto', sans-serif;
color:black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px
}
.chen3{width: 0;
height: 318.5px;
background: white;
	opacity: 25%;
overflow: hidden;
	margin-top: -307px;
}
.box3:hover   .chen3{width: 100%}
/*box3*/
.box4{width: 38.35%;
	height: 36%;
background: black;
	position: absolute;
	margin-top: 25px;
	margin-left: 636.1px
}
.box4 img{width: 100%;
	margin-bottom: -15px
}
.box4 a{padding-left: 204px;
	font-family: 'Roboto', sans-serif;
color:black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px
}
.chen4{width: 0;
height: 318px;
background: white;
	opacity: 25%;
overflow: hidden;
	margin-top: -307px;
}
.box4:hover   .chen4{width: 100%}
/*box4*/
/*section2*/
.graphic{padding: 10px 0;
	margin-left: 137px;
	margin-right: 137px;
	margin-top: 20px;
/*background: red;*/
height: 500px;
}
.h03{margin-top: 13.7px;
font-family: 'Press Start 2P', cursive;
font-size: 25px;
	color: black;
letter-spacing: 0.1px;
text-align: center;
padding-bottom: 33px}
.box5{width: 350px;
height: 350px;
background: black;
 }
.box5 img{width: 100%;
	height: 100%;
 }
.chen5{width: 0;
height: 350px;
background: white;
	opacity: 25%;
overflow: hidden;
margin-top: -354px;}
.box5:hover  .chen5{width: 100%}
.box5 a{padding-left: 99px;
	font-family: 'Roboto', sans-serif;
color:black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px}
/*box5*/
.box6{width: 350px;
height: 350px;
background: black;
	margin-left: 425px;
	margin-top: -349.9px
 }
.box6 img{width: 100%;
	height: 100%;
 }
.chen6{width: 0;
height: 350px;
background: white;
	opacity: 25%;
overflow: hidden;
margin-top: -354px;}
.box6 a{padding-left: 102px;
	font-family: 'Roboto', sans-serif;
color:black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px}
.box6:hover  .chen6{width: 100%}
/*box6*/
.box7{width: 350px;
height: 350px;
background: black;
	margin-left: 852.5px;
	margin-top: -349.7px
 }
.box7 img{width: 100%;
height: 100%}
.chen7{width: 0;
height: 350px;
background: white;
	opacity: 25%;
overflow: hidden;
margin-top: -354px;}
.box7 a{padding-left: 45px;
	font-family: 'Roboto', sans-serif;
color:black;
letter-spacing: 0.5px;
font-size: 14px;
	text-decoration: none;
	line-height: 47px}
.box7:hover  .chen7{width: 100%}
/*box7*/
/*section3*/
.about{padding: 10px 0;
	margin-left: 137px;
	margin-right: 137px;
	margin-top: 20px;
/*background: red;*/
height: 750px;}
.h04{margin-top: 54px;
font-family: 'Press Start 2P', cursive;
font-size: 25px;
	color: black;
letter-spacing: 0.1px;
text-align: center;
padding-bottom: 33px}
.box8{width: 1202px;
height: 570px;
background: black;
	background-image: url("anhabout.jpg");
	background-size: cover;
margin-top: 0.5px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.p2{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 20px;
	padding-bottom: 24px;
	padding-top: 180.5px
}
.p3{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 20px;
padding-bottom: 24px}
.p4{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 20px;
padding-bottom: 24px}
.p6{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 20px;
padding-bottom: 24px}
.p5{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 20px;}
.a3{text-decoration: none;
color: white}
.a4{text-decoration: none;
color: white}
/*section4*/
.footer{padding: 10px 0;
	margin-left: 137px;
	margin-right: 137px;
	margin-top: 20px;
background: black;
height: 70px;}
.p7{text-align: center;
	font-family: 'Roboto', sans-serif;
color:white;
letter-spacing: 0.5px;
font-size: 12px;
margin-top: 18px}
/*footer*/


